[Desktop Entry]
Version=0.0.1+16
Name=anonero
GenericName=anonero
Comment=Anonero wallet for linux
Terminal=false
Type=Application
Categories=Utility
Keywords=Finance;