[Desktop Entry]
Version=1.0.0+154
Name=wowuw
GenericName=wowuw
Comment=wowuw wallet for linux
Terminal=false
Type=Application
Categories=Utility
Keywords=Finance;